# Olympic Project - road to gold test 555

## Questions:
 1. How has the performance of athletes changed based on gender, and has this led to a reduction in the performance gap?
 2. Can past Olympic results reliably predict future outcomes?

## Hypothesis:

test 110

# 1-How has the performance of athletes changed based on gender, and has this led to a reduction in the performance gap?

## Olympic performance

In [112]:
#import of the data frame
from selenium import webdriver 
import time
from bs4 import BeautifulSoup
import requests
import pandas as pd
import os
import re

In [ ]:
#setting the first page
driver = webdriver.Chrome()
driver.get('https://olympics.com/en/olympic-games/beijing-2022/results/alpine-skiing/men-alpine-combined')
cookies_button = driver.find_element('css selector','#onetrust-accept-btn-handler')
cookies_button.click()
time.sleep(2)

In [ ]:
#select the Olympic Game
button_games = driver.find_element('css selector','button[data-cy=game-select]')
button_games.click()
all_games = driver.find_element('css selector','div [data-cy="game-list-wrapper"]')
first_game = all_games.find_elements('css selector','button [data-cy]')[4]
first_game.click()

In [ ]:
#Select the dicipline in the Olympic Game selected
button_discipline = driver.find_element('css selector', 'button[data-cy=discipline-select]')
button_discipline.click()
all_disciplines = driver.find_element('css selector','section [data-cy="disciplines-list"]')
first_discipline = all_disciplines.find_elements('css selector','button')[6]
first_discipline.click()

In [ ]:
#select the event in the dicipline selected
button_event = driver.find_element('css selector','button[data-cy=event-select]')
button_event.click()
event = driver.find_elements('css selector','button[data-cy=event-button]')[2]
event.click()

In [ ]:
#Go to the result of the event selected
button_go = driver.find_element('css selector','a[data-cy=go-link]')
button_go.click()

## Getting the imformation

In [113]:
def info_extraction(soup):
    ''' to complete'''
    #location and indentification of the required information
    table = soup.find('div',attrs={'data-cy':'table-content'})
    rows = table.find_all('div',attrs={'data-row-id':True})
    #list of the info to capture
    countries = []
    participant=[]
    results=[]
    #loop to extract all events information of the dicipline selected
    for row in rows:
        try:
            countries.append(row.find('span',attrs={'class':'styles__CountryName-sc-1r5phm6-1 eQULfE'}).text)
        except:
            countries.append(None)
        try:
            participant.append(row.find('h3',attrs={'data-cy':'athlete-name'}).text)
        except:
            participant.append(None)
        try:
            results.append(row.find('span',attrs={'data-cy':'result-info-content'}).text)
        except:
            results.append(None)
    info_event=pd.DataFrame({'country':countries,'participant':participant,'result':results})
    #add a column with the olympics games name
    olympicg= soup.find('button',attrs={'data-cy':'game-select'}).text
    info_event['olympic_game']=olympicg
    #add a column with the dicipline name
    discipline=soup.find('button',attrs={'data-cy':'discipline-select'}).text
    info_event['discipline']=discipline
    #add a column with the event name
    event=soup.find('button',attrs={'data-cy':'event-select'}).text
    info_event['event']=event
    #return the entire dataset with all the required information
    return info_event

In [119]:
def data_grab(url):
    ''' to complete'''
    #create the list with the required information
    final_result=[]
    #calculate the number of event in the dicipline selected
    driver.get(url)
    time.sleep(5)
    button_event = driver.find_element('css selector','button[data-cy=event-select]')
    button_event.click()
    events = len(driver.find_elements('css selector','button[data-cy=event-button]'))
    button_event.click()
    #loop to go though all the url and grab the required information or print the url where it did't work
    try:    
        for i in range(events):
            button_event = driver.find_element('css selector','button[data-cy=event-select]')
            button_event.click()
            eventfor=driver.find_elements('css selector','button[data-cy=event-button]')
            eventfor=eventfor[i]
            eventfor.click()
            #Go to the result of the event selected
            button_go = driver.find_element('css selector','a[data-cy=go-link]')
            button_go.click()
            time.sleep(5)
            soup= BeautifulSoup(driver.page_source)
            final_result.append(info_extraction(soup))
        pd.concat(final_result).to_csv(url.split('olympic-games/')[1].replace('/','_')+'.csv')
    except:
        print(url)
        pass

In [115]:
url_list=pd.read_csv('olympics_url.csv').iloc[:,1].to_list()
driver = webdriver.Chrome()
driver.get('https://olympics.com/en/olympic-games/beijing-2022/results/alpine-skiing')
time.sleep(5)
cookies_button = driver.find_element('css selector','#onetrust-accept-btn-handler')
cookies_button.click()
time.sleep(5)
list(map(data_grab,url_list))

InvalidArgumentException: Message: invalid argument
  (Session info: chrome=120.0.6099.109)
Stacktrace:
	GetHandleVerifier [0x00007FF75EEE4D02+56194]
	(No symbol) [0x00007FF75EE504B2]
	(No symbol) [0x00007FF75ECF74C3]
	(No symbol) [0x00007FF75ECE0F3B]
	(No symbol) [0x00007FF75ECDEE85]
	(No symbol) [0x00007FF75ECDF603]
	(No symbol) [0x00007FF75ECFA0FD]
	(No symbol) [0x00007FF75ED82C91]
	(No symbol) [0x00007FF75ED65E7A]
	(No symbol) [0x00007FF75ED82786]
	(No symbol) [0x00007FF75ED65C23]
	(No symbol) [0x00007FF75ED34A45]
	(No symbol) [0x00007FF75ED35AD4]
	GetHandleVerifier [0x00007FF75F25D5BB+3695675]
	GetHandleVerifier [0x00007FF75F2B6197+4059159]
	GetHandleVerifier [0x00007FF75F2ADF63+4025827]
	GetHandleVerifier [0x00007FF75EF7F029+687785]
	(No symbol) [0x00007FF75EE5B508]
	(No symbol) [0x00007FF75EE57564]
	(No symbol) [0x00007FF75EE576E9]
	(No symbol) [0x00007FF75EE48094]
	BaseThreadInitThunk [0x00007FF81DD5257D+29]
	RtlUserThreadStart [0x00007FF81F1CAA58+40]

1. Connect (sucessfully) with the website - requests
2. Transforming the data from string to searchable object - make the soup!
3. Find out what data I need and locate it in the website -  soup.find_all or soup.select
4. Transform data to put it in a dataframe - pd.DataFrame
5. Create the spider to apply code for several pages - for loop

## Cleanning

In [77]:
#select the event with comparable result
csv_list = [pd.read_csv(fil) for fil in os.listdir() if fil.endswith('swimming.csv') or fil.endswith('weightlifting.csv') or fil.endswith('athletics.csv')
             or fil.endswith('cycling-track.csv') or fil.endswith('rowing.csv') or fil.endswith('sailing.csv')
             ]
data_olympic=pd.concat(csv_list)
data_olympic.rename(columns={'Unnamed: 0': 'rank'},inplace=True)
#drop rows if result==nan
data_olympic.dropna(subset='result',inplace=True)
#divide olympic_game columns into two columns olympic_host and olympic_game_year
data_olympic['olympic_host']=data_olympic['olympic_game'].str.split(' ').str[0]
data_olympic['olympic_game_year']=data_olympic['olympic_game'].str.split(' ').str[1]
data_olympic.drop(columns='olympic_game',inplace=True)
data_olympic['olympic_host']=data_olympic['olympic_host'].str.replace('Los','Los Angeles').str.replace('Mexico','Mexico City') #Manual solution :(
data_olympic['olympic_game_year']=data_olympic['olympic_game_year'].str.replace('Angeles','1984').str.replace('City','1968') #Manual solution :(
#create and separete by gender using column event and drop rows of mix events
data_olympic['gender'] = data_olympic['event'].apply(lambda x: re.findall(r'\b(men|women)\b', x, flags=re.IGNORECASE)[0].lower() if re.findall(r'\b(men|women)\b', x, flags=re.IGNORECASE) else 'mix')
data_olympic=data_olympic[data_olympic['gender']!='mix']
#cleaning event
data_olympic['event'] = data_olympic['event'].apply(lambda x: re.sub(r'\b(?:men|women)\b', '', x, flags=re.IGNORECASE).lower().strip())
data_olympic['event']=data_olympic['event'].str.replace("'s",'',)
#filter by rank
data_olympic=data_olympic[data_olympic['rank']<=2]

## Filtering

In [78]:
pd.pivot_table(data_olympic,index=['discipline','event'],columns='gender',values='result',aggfunc='count').sort_values(by='women',ascending=False).head(20) #this can be a function that give you this list or dict with x top events

gender                               men  women
discipline event
Athletics  100m                     36.0   36.0
           4x100m relay             36.0   36.0
           high jump                36.0   36.0
           discus throw             36.0   32.0
           javelin throw            36.0   29.0
           200m                     36.0   27.0
           shot put                 36.0   27.0
           long jump                36.0   27.0
Swimming   100m freestyle           24.0   26.0
           50m freestyle            24.0   24.0
           100m backstroke          22.0   24.0
Sailing    470 - two person dinghy  33.0   24.0
Athletics  80m hurdles               NaN   24.0
Swimming   200m breaststroke        18.0   21.0
Athletics  800m                     36.0   21.0
           400m                     36.0   15.0
           pentathlon                NaN   15.0
Swimming   4x100m freestyle relay    NaN   13.0
           400m freestyle           12.0   13.0
Rowing     eight with coxswain 8    17.0   12.0

## Creating comparable tables

In [139]:
#first event
relay400=data_olympic[data_olympic['event']=='4x100m relay']
relay400['result']=relay400['result'].str.replace('w','')
relay400['result']=relay400['result'].astype(float)
relay400s=pd.pivot_table(relay400, index=['olympic_game_year'], columns='gender', values='result', aggfunc='mean')
relay400s['gap']=relay400s['men']-relay400s['women']
relay400s.round(2).sort_index()

C:\Users\fsarm\AppData\Local\Temp\ipykernel_11124\3830929493.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  relay400['result']=relay400['result'].str.replace('w','')
C:\Users\fsarm\AppData\Local\Temp\ipykernel_11124\3830929493.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  relay400['result']=relay400['result'].astype(float)

gender               men  women   gap
olympic_game_year
1928               41.33  48.73 -7.40
1936               40.70  47.43 -6.73
1948               41.13  47.63 -6.50
1952               40.30  46.00 -5.70
1956               39.87  44.70 -4.83
1960               39.93  44.77 -4.83
1964               39.20  43.83 -4.63
1968               38.30  43.17 -4.87
1972               38.49  43.04 -4.55
1976               38.59  42.74 -4.15
1980               38.37  42.04 -3.67
1984               40.70  47.20 -6.50

In [137]:
#Second event
free100=data_olympic[data_olympic['event']=='100m']
free100['result']=free100['result'].str.replace('w','')
free100['result']=free100['result'].astype(float)
free100s=pd.pivot_table(free100, index=['olympic_game_year'], columns='gender', values='result', aggfunc='mean')
free100s['gap']=free100s['men']-free100s['women']
free100s.round(2).sort_index()

C:\Users\fsarm\AppData\Local\Temp\ipykernel_11124\68396129.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  free100['result']=free100['result'].str.replace('w','')
C:\Users\fsarm\AppData\Local\Temp\ipykernel_11124\68396129.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  free100['result']=free100['result'].astype(float)

gender               men  women   gap
olympic_game_year
1928               10.87  12.27 -1.40
1936               10.40  11.70 -1.30
1948               10.43  12.10 -1.67
1952               10.40  11.73 -1.33
1956               10.53  11.63 -1.10
1960               10.23  11.20 -0.97
1964               10.13  11.53 -1.40
1968                9.97  11.07 -1.10
1972               10.24  11.18 -0.94
1976               10.09  11.13 -1.03
1980               10.30  11.09 -0.79
1984               10.33  11.93 -1.60

In [125]:
#third event
high_jump=data_olympic[data_olympic['event']=='high jump']
high_jump['result']=high_jump['result'].astype(float)
high_jump_sum=pd.pivot_table(high_jump, index=['olympic_game_year'], columns='gender', values='result', aggfunc='mean')
high_jump_sum['gap']=high_jump_sum['men']-high_jump_sum['women']
high_jump_sum.round(2).sort_index()

C:\Users\fsarm\AppData\Local\Temp\ipykernel_11124\2189174354.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  high_jump['result']=high_jump['result'].astype(float)

gender              men  women   gap
olympic_game_year
1928               1.92   1.57  0.35
1936               2.01   1.60  0.41
1948               1.96   1.66  0.30
1952               2.01   1.65  0.36
1956               2.10   1.70  0.40
1960               2.15   1.76  0.40
1964               2.17   1.83  0.35
1968               2.22   1.81  0.41
1972               2.22   1.89  0.32
1976               2.23   1.92  0.31
1980               2.33   1.95  0.38
1984               1.97   1.63  0.34